.invalid {
    border: 1px solid #b40e0e;
    background-color: #e67c7c;
}

.wraper{
    display: flex;
    justify-content: center;
    text-align: center;
}

.wraper2{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 35vh;
}

.inputForm{
    margin-bottom: 20px;
    margin-top: 20px;
}

.body{
    height: 55vh;
}
  
.error-text {
    color: #b40e0e;
}

.center{
    margin: 100px;
    height: 35vh;
}

.dugme{
    text-align: center;
    margin-top: 10px;
}

.form-container{
    width: 500px;
    text-align: center;
    margin: 20px;
    padding: 3rem;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;  
    animation: ease-in-out;
}

.formh2{
    padding-bottom: 20px;
}

.form-container img{
    width: 114px;
}

.inputLogin{
    padding: 1rem 2rem;
    margin-bottom: 10px;
}

input::placeholder {
    opacity: 0.9;
    color: rgb(224, 223, 223);
}

input{
    border-radius: 30px;
}

.link{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 500px) {
    .input{
        padding: 1rem;
        margin-bottom: 10px;
    }
}




